.glyph_0 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 0.14204545454545456% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_1 {
	display: block;
	width: 48px;
	height: 130px;
	background-position: 9.668508287292818% 0.055524708495280406%;
	background-size:  1608.3333333333333% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_2 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 16.90340909090909% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_3 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 26.704545454545453% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_4 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 36.50568181818182% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_5 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 46.30681818181818% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_6 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 56.10795454545454% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_7 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 65.9090909090909% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_8 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 75.71022727272727% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_9 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 85.51136363636364% 0.055524708495280406%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_colon {
	display: block;
	width: 39px;
	height: 130px;
	background-position: 91.54160982264665% 0.055524708495280406%;
	background-size:  1979.4871794871797% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_comma {
	display: block;
	width: 45px;
	height: 130px;
	background-position: 97.79917469050893% 0.055524708495280406%;
	background-size:  1715.5555555555554% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_dollar {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 0.14204545454545456% 7.329261521377013%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_equals {
	display: block;
	width: 54px;
	height: 130px;
	background-position: 9.749303621169917% 7.329261521377013%;
	background-size:  1429.6296296296296% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_exclamation_mark {
	display: block;
	width: 40px;
	height: 130px;
	background-position: 17.076502732240435% 7.329261521377013%;
	background-size:  1930% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_minus {
	display: block;
	width: 61px;
	height: 130px;
	background-position: 23.347398030942333% 7.329261521377013%;
	background-size:  1265.5737704918033% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_period {
	display: block;
	width: 40px;
	height: 130px;
	background-position: 31.147540983606557% 7.329261521377013%;
	background-size:  1930% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_plus {
	display: block;
	width: 61px;
	height: 130px;
	background-position: 37.83403656821378% 7.329261521377013%;
	background-size:  1265.5737704918033% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_question_mark {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 47.01704545454545% 7.329261521377013%;
	background-size:  1135.2941176470588% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_quote {
	display: block;
	width: 46px;
	height: 130px;
	background-position: 55.09641873278237% 7.329261521377013%;
	background-size:  1678.2608695652175% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_space {
	display: block;
	width: 32px;
	height: 130px;
	background-position: 60.40540540540541% 7.329261521377013%;
	background-size:  2412.5% 1485.3846153846155%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.icon_spin {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 93.02325581395348% 7.880597014925374%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.square {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 0.1937984496124031% 23.223880597014926%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_7 {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 50% 23.223880597014926%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_8 {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 99.8062015503876% 23.223880597014926%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_9 {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 0.1937984496124031% 38.56716417910448%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_10 {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 50% 38.56716417910448%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_a {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 99.8062015503876% 38.56716417910448%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_apple {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 0.1937984496124031% 53.91044776119402%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_banana {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 50% 53.91044776119402%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_cherry {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 99.8062015503876% 53.91044776119402%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_fs {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 0.1937984496124031% 69.25373134328359%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_grape {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 50% 69.25373134328359%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_j {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 99.8062015503876% 69.25373134328359%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_k {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 0.1937984496124031% 84.59701492537313%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_lemon {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 50% 84.59701492537313%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_q {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 99.8062015503876% 84.59701492537313%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_sc {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 0.1937984496124031% 99.94029850746269%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_w {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 50% 99.94029850746269%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_wild {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 99.8062015503876% 99.94029850746269%;
	background-size:  301.5625% 754.296875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

