.glyph_0 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 0.13297872340425532% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_1 {
	display: block;
	width: 48px;
	height: 130px;
	background-position: 9.067357512953368% 0.05271481286241434%;
	background-size:  1708.3333333333333% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_2 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 15.824468085106384% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_3 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 25% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_4 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 34.17553191489361% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_5 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 43.351063829787236% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_6 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 52.52659574468085% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_7 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 61.702127659574465% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_8 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 70.87765957446808% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_9 {
	display: block;
	width: 68px;
	height: 130px;
	background-position: 80.0531914893617% 0.05271481286241434%;
	background-size:  1205.8823529411764% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_colon {
	display: block;
	width: 39px;
	height: 81px;
	background-position: 85.91549295774648% 0.051387461459403906%;
	background-size:  2102.5641025641025% 2502.469135802469%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_comma {
	display: block;
	width: 45px;
	height: 54px;
	background-position: 91.74193548387096% 0.05068423720223011%;
	background-size:  1822.2222222222222% 3753.703703703704%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_dollar {
	display: block;
	width: 68px;
	height: 128px;
	background-position: 0.13297872340425532% 6.9510268562401265%;
	background-size:  1205.8823529411764% 1583.59375%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_equals {
	display: block;
	width: 54px;
	height: 60px;
	background-position: 9.138381201044385% 6.710726995424504%;
	background-size:  1518.5185185185185% 3378.333333333333%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_exclamation_mark {
	display: block;
	width: 40px;
	height: 129px;
	background-position: 16.025641025641026% 6.954689146469968%;
	background-size:  2050% 1571.3178294573643%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_minus {
	display: block;
	width: 61px;
	height: 40px;
	background-position: 21.870882740447957% 6.643180674383492%;
	background-size:  1344.2622950819673% 5067.5%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_period {
	display: block;
	width: 40px;
	height: 42px;
	background-position: 29.230769230769234% 6.649874055415617%;
	background-size:  2050% 4826.190476190476%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_plus {
	display: block;
	width: 61px;
	height: 63px;
	background-position: 35.44137022397892% 6.720977596741344%;
	background-size:  1344.2622950819673% 3217.4603174603176%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_question_mark {
	display: block;
	width: 68px;
	height: 129px;
	background-position: 44.015957446808514% 6.954689146469968%;
	background-size:  1205.8823529411764% 1571.3178294573643%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_quote {
	display: block;
	width: 46px;
	height: 53px;
	background-position: 51.67958656330749% 6.68693009118541%;
	background-size:  1782.6086956521738% 3824.528301886792%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.glyph_space {
	display: block;
	width: 48px;
	height: 130px;
	background-position: 57.901554404145074% 6.9583552978386916%;
	background-size:  1708.3333333333333% 1559.2307692307693%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.icon_spin {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 87.94326241134752% 7.453416149068323%;
	background-size:  320.3125% 791.796875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.square {
	display: block;
	width: 256px;
	height: 256px;
	background-position: 0.1773049645390071% 21.96499153020892%;
	background-size:  320.3125% 791.796875%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_7 {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 47.08029197080292% 22.165242165242166%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_8 {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 96.8978102189781% 22.165242165242166%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_9 {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 0.18248175182481752% 37.72079772079772%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_10 {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 50% 37.72079772079772%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_a {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 99.81751824817519% 37.72079772079772%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_apple {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 0.18248175182481752% 53.27635327635327%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_banana {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 50% 53.27635327635327%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_cherry {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 99.81751824817519% 53.27635327635327%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_fs {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 0.18248175182481752% 68.83190883190883%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_grape {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 50% 68.83190883190883%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_j {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 99.81751824817519% 68.83190883190883%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_k {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 0.18248175182481752% 84.38746438746438%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_lemon {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 50% 84.38746438746438%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_q {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 99.81751824817519% 84.38746438746438%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_sc {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 0.18248175182481752% 99.94301994301993%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

.sym_w {
	display: block;
	width: 272px;
	height: 272px;
	background-position: 50% 99.94301994301993%;
	background-size:  301.4705882352941% 745.2205882352941%;
	background-image: url(../assets/img/sprites.png);
	padding: 0;
}

