.icon_spin {
    display: block;
    width:256px; 
    height:256px; 
    background-position: 0.19379845% 0.077700078%;
    background-size: 301.5625% 602.734375%;
    background-image: url(../assets/img/sprites.png);
    padding: 0; 
}